
@import '~vuetify/src/stylus/main'

.v-card .v-offset .v-card--material__header.v-card {
  padding: 15px;
}

.v-card .category {
  margin: 0;
}

.v-navigation-drawer .v-list .v-list-item:not(:nth-child(3)) {
  margin: 10px 15px 0;
}

.v-navigation-drawer .v-list .v-list-item:nth-child(3) {
  margin: 0 15px;
}

.v-btn--fixed {
  border-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(0, 0, 0, 0.3) !important;
  right: 0;
  padding: 0;
  width: 64px;
}

.v-toolbar .v-toolbar__content .v-toolbar__items .toolbar-items {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  padding: 10px 15px;
}

.v-navigation-drawer .v-list .v-list-item > .v-list__tile {
  padding: 10px 15px;
}

.v-navigation-drawer .v-list {
  background: rgba(27,27,27,.74);
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(27, 27, 27, 0.74);
  padding: 0;
}

.v-toolbar .v-toolbar__content .v-toolbar__items .v-input {
  margin: 0!important;
  padding: 0;
}

.v-footer .footer-links {
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px;
  line-height: 1.8;
}

.v-navigation-drawer .v-list .v-list-item .v-list__tile__action {
  margin-right: 15px;
  min-width: unset;
}

.v-navigation-drawer .v-list .v-list-item .v-list__tile.v-list__tile--active.success {
  background-color: #4caf50!important;
  -webkit-box-shadow: 0 12px 20px -10px rgba(76,175,80,.28),0 4px 20px 0 rgba(0,0,0,.12),0 7px 8px -5px rgba(76,175,80,.2)!important;
  box-shadow: 0 12px 20px -10px rgba(76,175,80,.28),0 4px 20px 0 rgba(0,0,0,.12),0 7px 8px -5px rgba(76,175,80,.2)!important;
}

.v-card .title {
  margin-top: 0;
  line-height: 1.5em!important;
  letter-spacing: 0!important;
  font-size: 1.125rem!important;
  margin-bottom: 5px!important;
}

.card-tabs .v-list__tile__title {
  font-size: 14px;
  font-weight: 300;
  padding: 0 8px;
  overflow: visible;
  white-space: inherit;
  height: auto;
}